{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Eddie Van Halen</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil maiores culpa consequuntur assumenda laudantium rerum quidem doloribus nam? Odit et veritatis quos accusamus perspiciatis sunt unde. Voluptate mollitia nisi quis!</p>
    </div>
    <div class="col-4">
        <img class="img-thumbnail" src="assets/img/vh.jpg" alt="Eddie Van Halen">
    </div>
</div>


{{> footer }}